<div class="card mx-auto" style="width: 90%;">
  <img src="/public/img/{{imagen}}" class="card-img-top imgs" alt="{{titulo}}">
  <div class="card-body">
    <h5 class="card-title">{{titulo}}</h5>
      </div>
  <ul class="list-group list-group-flush">
    
    <li class="list-group-item"> {{contenido}} </li>
    <li class="list-group-item"><strong>Fecha:</strong> {{fecha}}</li>
    <li class="list-group-item"><strong>Autor:</strong> {{autor}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Ver detalle de publicacion</a>
 
  </div>
</div>

<style>

.imgs {
    display: flex;
    justify-content: center;
    width: auto;
    height: 300px;
}    
</style>